/* NewSnippet.css */
.new-snippet-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .new-snippet-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  .new-snippet-exit {
    opacity: 1;
    transform: scale(1);
  }
  .new-snippet-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
  